
body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #ffffff;
    padding: 0 10px;
    background-color: #000000;
    font-family: 'joseon';
    
}


table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    width: 10%;
    height: 10%;
    border: white;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* 이미지 가운데 정렬을 원할 경우 */
    object-fit: cover;
}

.highlight-right-border td:nth-child(1) {
    border-right: 0.5px solid black;
}

.justify-text {
    display: inline-block;
    width: 100%; /* 또는 원하는 고정된 너비 */
    text-align: justify;
}
.justify-text:after {
    content: "";
    display: inline-block;
    width: 100%; /* 빈 공간을 만들어 줌 */
}

/* 팝업 스타일 */
.popup {
    display: none; /* 기본적으로 보이지 않음 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    border: 2px solid #333;
    color: white;
    padding: 10px 5px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    text-decoration: none;
    overflow-y: scroll;
    max-height: 600px;
    scrollbar-width: none;
    font-family: 'joseon';

}

@media (max-width: 480px) {
    .popup {
        width: 80%; /* 화면 크기에 맞춰 팝업 너비 조정 */
        max-height: 80%; /* 화면 크기에 맞춰 최대 높이 조정 */
        font-family: 'joseon';}
}

@media (max-width: 760px) {
    .popup {
        width: 80%; /* 화면 크기에 맞춰 팝업 너비 조정 */
        max-height: 80%; /* 화면 크기에 맞춰 최대 높이 조정 */
        font-family: 'joseon';    }
}

/* 팝업을 가리기 위한 배경 스타일 */
.popup-overlay {
    background-color: rgba(0, 0, 0, 0.7); /* 반투명한 어두운 배경 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

.close-btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}


/* <style>
기본 스타일
details {
    margin: 20px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

summary {
    cursor: pointer;
    font-weight: bold;
}

details[open] {
    background-color: #f9f9f9;
}
</style> */


pre {
    font-size: 16px; /* 기본 폰트 크기 설정 */
}

/* 모바일 화면에 대한 미디어 쿼리 */
@media (max-width: 100%) {
    pre {
        font-size: 14px; /* 모바일 화면에서 폰트 크기 줄이기 */
        font-family: 'joseon';    }
}

@font-face {
    font-family: 'joseon';
    src: url('../fonts/ChosunSm.TTF') format('truetype');
}





/* 헤더  */

/* 고정 헤더 스타일 */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    /* padding: 10px 20px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-family: 'joseon';

    max-width: 650px;
    line-height: 2;
    border-bottom: 1px solid white;
    height: 60px;
    text-decoration: none;
}

header .logo {
    color: white;
    display: flex; /* logo를 flex 컨테이너로 설정 */
    justify-content: flex-end; /* 우측 정렬 */
    font-family: 'joseon';
    margin-right: 10px;
    text-decoration: none;
}

header .logo a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    margin-left: 10px;
    justify-content: flex-end;
    font-family: 'joseon';
    margin-right: 10px;

}

header .logo2
{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    justify-content: left;
    width: 100%;
    font-family: 'joseon';
    margin-left: 10px;
}

header .logo2 a {
    color: white; /* 항상 흰색으로 표시 */
    text-decoration: none; /* 밑줄 제거 */
}

header .logo2 a:hover,
header .logo2 a:focus,
header .logo2 a:active {
    color: white; /* 마우스를 올리거나 포커스 되었을 때도 흰색 유지 */
    text-decoration: none; /* 선택될 때 밑줄 제거 */
}


/* 헤더 아래 내용의 상단 여백 추가 */
body {
    padding-top: 30px; /* 고정 헤더의 높이만큼 여백 추가 */
}


a:visited {
    color: black;
}

summary::-webkit-details-marker { /* Safari 브라우저용 사용자 정의 스타일 */
    display: none;
}
summary {
    list-style-type: none; /* 그 외의 브라우저용 사용자 정의 스타일 */
}