        /* 전체 페이지와 같은 크기를 가지도록 설정 */
        /* body, html {
            height: 100%;
            margin: 0;
        } */

        /* 배경 이미지 스타일 */
        body::before {
            content: "";
            position: fixed;
            top: 0%;
            left: 0%;
            right: 0;
            bottom: 0;
            background-image: url('../images/부산/파도.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.7; /* 불투명도 설정 */
            z-index: -1;
            max-width: 650px;
            margin: auto;
            /* height: auto; */
            /* display: block; */
        }
