<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
    <footer>
        <div class="logo2">
            <a href="#" onclick="history.back(); return false;">:)</a>
        </div>
        
        <div class="logo">  
                <a href="https://blog.naver.com/meaningful_stone_">+</a>
            </div>
        </div>
    </footer>
    <p style="text-align: left;">&nbsp;</p>
    <hr>
    <img src="../images/badbad2.jpg" alt="">
<hr>
[Chorus: Brendan Yates]
Can't be the only one
Can't be the only one
Can't be the only one

[Verse 1: Brendan Yates]
All my glow is on
Can the will be strong?
Can't be the only one

[Chorus: Brendan Yates, & Devonté Hynes]
Can't be the only one (Ah)
Can't be the only one (Ah)
Can't be the only one

[Verse 2: Devonté Hynes]
All my glow is on
Can my will be strong? Ah

[Chorus: Brendan Yates & Devonté Hynes]
Can't be the only one
Can't be the only one
Can't be the only one

[Bridge: Devonté Hynes]
Light inside of me (Yeah)
Hard enough to see
What else could it mean? (Ay, ay, ay, ay)
Love is in the heart
It came like a dream
Loners out to roam
Sewn at the seam
Light inside of me
Hard enough to be
Locked inside my heart
Floating in the dark
You might also like
Demons
Doja Cat
the grudge
Olivia Rodrigo
UNDERWATER BOI
Turnstile & BADBADNOTGOOD
[Instrumental]

[Chorus: Brendan Yates, & Devonté Hynes]
Can't be the only one (Ah)
Can't be the only one (Ah)
Can't be the only one
Can't be the only one
<hr>

    
</body>
</html>