<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/dark.js" defer></script>
    <a href="../index.html" class="article_title">A</a>
    <title>Document</title>
</head>
<body>
    <p style="text-align: center;">meaningless</p>
    <hr>
    <p>Lorem ipsum dolor <strong>sit</strong> amet consectetur adipisicing elit. Commodi, culpa, soluta obcaecati neque quibusdam dolor accusantium quia sequi vel atque libero officia quas eveniet reprehenderit repudiandae quidem magnam deserunt eligendi.</p>
    <p><em>Lorem</em> <u>ipsum</u>, dolor sit amet consectetur adipisicing elit. Animi, totam.</p>
</body>
</html>