<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
    <footer>
        <div class="logo2">
            <a href="#" onclick="history.back(); return false;">:)</a>
        </div>
        
        <div class="logo">
            <!-- <a href="../index.html">0_0</a> index.html로 이동하는 링크 -->
        </div>
    </footer>
    <p style="text-align: left;">meaningless</p>
    <hr>

    우리 과에는 언론에도 자주 목소리를 내는 교수님이 계셨는데, 그 교수님을 칭찬하며 했던 한 선배의 말이 기억에 남는다. 누구누구 교수님은 모르는게 없다고 말이다. 그 당시에도 올드하다고 느꼇지만, 지금보면 더 올드한 말이다. 사실 어떤 사람이 어떤 지식을 절대적으로 더 많이 알고 있어요라는 말이 더 이상 크게 가치가 없다고 생각들기 때문이다. 2023년에 출시된 GPT-4가 최대 토큰 12조 개를 학습한 것으로 추산된다고 한다. 누구나 약 영문 위키피디아 2만배에 달하는 정보를 접근할 수 있고, 지식을 알려달라고 하거나, 질문을 하고 논의를 할 수 있다. 

 나만 이런 생각을 하는건 아닌거 같다. 며칠전에 똑똑함에 대한 젠슨황의 인터뷰를 봤다. 지금까지는 “똑똑함”의 정의는 보통 지능 높고, 문제 잘 풀고 기술적인 사람이라고 했다. 하지만 그건 너무 흔해졌고, AI가 가장 잘 해냈고 대체하고 있는 영역이다. 똑똑한 사람이란 경계에 있는 사람이라고 했다. 기술적으로 예리하리면서도 인간적 공감이 있고 말하지 않은 것들에대해서 알아내고 앞날을 내다볼 수 있으며 미지의 영역을 개척하는 사람. 문제가 터지기도 전에 알아내며 타인을 읽어내는 능력 . 돌고 돌아 휴머니즘으로 돌아오냐는 생각이 들기도한다. 지적인 능력 → 실무 능력 → 비즈니스 능력 → 휴머니즘 능력

  팔란티어 CEO가  대학 중퇴 후 창업하면 주는 '피터 틸 장학금' 인기 폭발...대학도 졸업보다 창업 권했다고 한다. 대학이 더 이상 무쓸모 하다는것이다.  저렇게 정보 접근성이 좋은 시대에 강의실에 앉아 지식 수업을 듣고, 정보를 이수 받느라 등록금과 시간을 쓰는게 무의미하다는것이다. 그리고 시험이라는 개념!. 시험은 그레이드를 나누는 행위이다. 그런 교육 받는 행위를 잘하면 좋은 성적을 받는 우수한 사람, 못하면  나쁜 성적을 받는 능력 없는 사람. 이런 식으로 타인한테 주어진 문제를 받고, 그걸 풀어나가는게 등급으로 받은 행위가 말이 안된ㄴ다는것이다. 거기서 잘나면 좋은 사람, 못하면 나쁜 사람으로 사회적으로 평가매겨지고 본인을 결정하는게 구시대적이다

 정말 조심스럽게 하는 생각이지만 AI시대가 올수록 개인의 성과 개념이 희미해지는것같다. 자기소개서는 이미 의미가 없어진지 오래다. 누구나 제2의 뇌를 가질 수 있고 방법을 익힐수 있다. 도제식으로 암암리에 기술과 기법이 이어지는 분야가 있다. 하지만 그런 섹션에서 추노하는 사람들또한 많아진다. 더 수평적이고 더 좋은 기회를 찾아 떠난다. 그러면 그럴수록 효율성이 상승 할수록 무슨 문제를 풀어야하냐는 고민이 든다. 바뀌는 세상속에서 결국 중요한건 무슨 문제를 푸냐는 생각이든다.

---

   어릴때부터 꿈과 기질이 확고한 사람들이 있다. 대학 한 후배는 어릴떄부터 꿈이 화가였고, 생활기록부에도 일관되게 그렇게 적었다고 한다. 다른 과 친구는 태생이 금융쟁이이다. 세상을 어떻게 수입과 지출 개념으로 그렇게 바라보고, 자산 개념이 강한지 모르겠다. ( 그리고 경제적 자유가 꿈이라고 한다.) 또 다른 분은 포토그래퍼가 꿈이었다고 한다. 그렇게 입시 준비를 했고, 딱 한명 빠진 자리에서 예비 1번을 받아 입학했다고 한다. 그렇게 하나에 집중하고 천착해서 단계를 조금씩 밟고 올라가는지 모르겠다. 

 비전은 주어지는 걸까, 설정하는걸까. 지금 내가 커리어적으로 풀고 싶은 문제들이 몇가지 있다. 결제는 어떻게 이루어지는 걸까. AI시대에 프롬프트로 어느정도로 결제를 할 수 있을까. 그 과정에서 오류나 개인정보 문제는 어떻게 해결할수 있을까. 시리야 내일 아침에 알람 설정해줘 처럼 명령하는것처럼, 지금 삼다수 한박스 최저가로 구매해서 내일 아침에 배송설정해줘라고 할 수 있을까. 이런 기능은 어플 단위로 이뤄질수 있을까 아니면 디바이스 전체의 기본 기능으로 될수 있을까. 만일 오류가 발생한다면 누구 책임일까. 수수료 구조를 어떻게 설정해야할까. 

 그리고 이 중에 얼마나가 진짜 내 생각과 비전일까. 나의 뇌는 중립적이라는 생각을 지울 수가 없다. 어떠한 이유에선가 A라는 문제를 푸어야해라고 하면 A에 집중하고, B라는 문제를 풀어야해라고 하면 B라는 문제를 풀뿐이다. 동시에 나의 생각은 순수하지 않다. 경우에 따라 어느 입장도 택할 수 있다. 만일 나의 조직이 소상공인이란면 좌측에서고, ,대기업이라면 우측에 서겠지. 아니 애초에 이런 결제 서비스 문제에 관심을 가지고 해결을 하고 싶어했을까. 어쩌다 들어간 자율전공 입학에, 우연히 결정한 경젝학 전공이 이 문제에 집중하게 만들었지. 

 아무런 책임을 지지 않을 수 있다면, 아무런 흐름에 참여하지 않아도 된다면, 아무런 집단에 참여하지 않아도 된다면 조용히 책을 읽을것 같다. 페르난도 페소아의 불안의서. 문제라는 상태 그 자체 집중할것만 같다. 억지로 해답을 내놓지 않은채. 나는 많은 사람들이 정답과 해결책을 내놓는데 지쳤다고 생각한다. 정말 문제가 뭔지 알기 위해서는 집중해야한다. 요란스럽지않게 기다리고 집중해야한다. 믿을 수 있는 몇 사람들과 진지하게 대화하고, 새로운 생각을 줄 수 있는 예술을 접해야한다. 이런 따분한 티타임을 통해 행복과 불행, 그 사이에 있는 불안을 하루종일 지루하고 지루하게 생각하고 싶다. 세 단어 사이를 하루종일 걸어다니고 싶다.

---

오늘 사무실 노트북을 정리하면서, 휴지통에 있던 1900여개의 파일을 지우고, 수십 GB의 영상을 삭제하면서도 아무 생각이 없었습니다. 하지만 개인을 고통받게 하는 것은 데이터의 불바다로 던져짐 당한, 순식간에 잃어버린 1MB 미만의 텍스트들이었지요. 퇴근 후 제가 유심히 살펴보고, 다름을 상상하고, 생각이 열렸던 공간도 누군가의 메일 혹은 편지였어요. 그 순간 떠올렸어요. 우리에게 필요한 것은 아주 작은 데이터라고요! 정확히는 그 속에 담긴 빛 같은 인격이라고요! 무게 없이 존재하고 이동하는 그것이요!

아주 가볍게 존재할 용기가 있으면 좋겠어요. 제가 진심으로 원하는 것은 작은 텍스트 단위의 데이터 뿐이에요. 저는 사람들이 미디어로, 영상과 음악이라는 수단과 무거운 데이터의 단위로 자신을 복잡하게 만들지 않았으면 해요. 말할 용기가 있으면 좋겠어요. 쓸 용기가 있으면 좋겠어요. 인정할 용기가 있으면 좋겠어요. 뱉는 순간 휘발되어 날아갈지라도, 백스페이스 한 칸에 지워질 단어라도, 아무도 신경 쓰지 않을 태도라고 해도요!

그런데... 존재감 없이 존재하는 상상을 해보신 적 있나요? 가족과 사랑하는 사람을 바라보느라, 돈을 버느라, 커리어 경쟁을 하느라, 늙어서 지치느라 필연적으로 말이에요. 아주 작은 언어로 인식되지도, 개념되지도, 업데이트 되지도 않는 나 자신이요. 아주 충만했지만 일기와 기록 없이 지나가버리는 시간은 반쪽짜리인걸까요.

2025년 8월 7일 (목) 오전 2:04

보낸사람
77fdc24db6f5bb13e2cb224e483c0bcdd86cb8f9a4be87ceed12459405c8a45

받는사람
7166811edf5b4ce4ad02440eaac871deb8542bf547fdea8dad4b16b48abfe131
<hr>
</body>
</html>