<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
    <footer>
        <div class="logo2">
            무의미
        </div>
        
        <div class="logo">
            <a href="../index.html">0_0</a> <!-- index.html로 이동하는 링크 -->
        </div>
    </footer>
    <p>Lorem ipsum dolor <strong>sit</strong> amet consectetur adipisicing elit. Commodi, culpa, soluta obcaecati neque quibusdam dolor accusantium quia sequi vel atque libero officia quas eveniet reprehenderit repudiandae quidem magnam deserunt eligendi.</p>
    <p><em>Lorem</em> <u>ipsum</u>, dolor sit amet consectetur adipisicing elit. Animi, totam.</p>
</body>
</html>