<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="logo2">
            큐알
        </div>
        
        <div class="logo">
            <a href="../index.html">0_0</a> <!-- index.html로 이동하는 링크 -->
        </div>
    </footer>
    <img src="../images/QR.jpg" alt="">
    
</body>
</html>




