<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=q, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <a href="../templates/나.html" class="article_title">나</a>
</head>
<body>
    <p style="text-align: center;">topster</p>
    <hr>
    <img src="https://postfiles.pstatic.net/MjAyNDEwMDdfMjU2/MDAxNzI4MjkxMDA1MTc1.fLEa7eo5Ebq2CG6fd2zzaPo8nel7Ht5wPpR4DxIcijEg.VqetJ2VYjZ_akAUP5itbx9z1Brfzp65ahLFqZsjTaN8g.PNG/topster.png?type=w3840" alt="">
    <pre>
        1. Arctic Monkeys - Favourite Worst Nightmare
        2. SZA - CTRL
        3. 브로콜리 너마저 - 잔인한 사월
        4. The Black Skirts - TEEN TROUBLES
        5. 델리 스파이스 - Deli Spice

        6. 불나방 스타 쏘세지 클럽 - 고질적 신파
        7. Prep - PREP
        8. Loyle Carner - Yesterday's Gone
        9. 재주소년 - 재주소년
        10. Dominic Fike - Don't Forget About Me, Demos

        11. 이상은 - 외롭고 웃긴 가게
        12. Peppertones - Colorful Express
        13. KIRINJI - Melancholy Mellow | -甘い豪鬱-199820
        14. Slowdive - Souvlaki
        15. Swedish House Mafia - Until Now

        16. Sonic Youth - Dirty
        17. Air - Moon Safari
        18. 뉴진스 - NewJeans 1st EP 'New Jeans'
        19. Oasis - (What's the Story) Morning Glory?
        20. Cibo Matto - Stereotype A

        21. Sigur Rós - Takk ...
        22. Tom Misch - Beat Tape 1
        23. 언니네 이발관 - 가장 보통의 존재
        24. Jamiroquai - Emergency On Planet Earth
        25. The Strokes - Is This It
    </pre>
    <img src="https://postfiles.pstatic.net/MjAyNDEwMDdfMTk5/MDAxNzI4MjkzNDgzMjI5.LHRmWUodpkMWNbhp0dCsZWDqx8MhMosqT_zqAJw44J4g.qzqaZGlqKlB3DYVabOtrjyA3XZ-sHCKgm2a3Sz71WHIg.PNG/chart_(8).png?type=w3840" alt="">
    <pre>
        1. The Verve - Urban Hymns (Remastered 2016)
        2. Oasis - (What's the Story) Morning Glory? [Remastered]
        3. Oasis - Definitely Maybe
        4. Nirvana - Nevermind (Remastered)
        5. Weezer - Weezer
        
        6. Tom Misch - Geography
        7. Tom Misch - Beat Tape 1
        8. Blur - blur [Special Edition]
        9. Interpol - Turn on the Bright Lights
        10. Coldplay - X & Y
        
        11. My Bloody Valentine - Loveless Disc 1 Original Version Remastered
        12. Arctic Monkeys - AM
        13. Radiohead - OK Computer
        14. Coldplay - Everyday Life
        15. Justin Bieber - Changes
        
        16. The Whitest Boy Alive - Rules
        17. Daft Punk - Discovery
        18. The Chainsmokers - Memories. . .Do Not Open
        19. Digitalism - Idealism
        20. Justice - Justice
        
        21. MGMT - Oracular Spectacular
        22. Washed Out - Within and Without
        23. KIRINJI - 3
        24. Kings of Convenience - Riot on an Empty Street
        25. Honne - Warm On a Cold Night (Deluxe)
    </pre>
    <img src="https://postfiles.pstatic.net/MjAyNDEwMDdfOTIg/MDAxNzI4MjkzNjY0OTkw.Qe7u2IR21pLm0qmRls81lQ1KU-HxpmLL3gMfKz7kiAwg.F728QaUSpUvRAaLjcL_5lNR8e8GcQjfytvMslxPnb8Ig.PNG/chart_(12).png?type=w3840" alt="">
    <pre>
        1. The Internet - Ego Death
        2. Nothing But Thieves - Moral Panic
        3. The Verve - The Verve
        4. Chance the Rapper - Coloring Book
        5. Frank Ocean - channel ORANGE
        
        6. Joey Bada$$ - 1999
        7. 검정치마 - 201 (Special Edition)
        8. Mac DeMarco - This Old Dog
        9. Rejjie Snow - Dear Annie
        10. Antonio Carlos Jobim - Stone Flower (CTI Records 40th Anniversary Edition)
        
        11. The Neighbourhood - Hard to imagine the neighbourhood ever changing
        12. Crystal Castles - Crystal Castles
        13. SZA - CTRL
        14. Snoh Aalegra - TEMPORARY HIGHS IN THE VIOLET SKIES
        15. Raveena - If Only


    </pre>
</body>
</html>