<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=q, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <a href="../templates/나.html" class="article_title">나</a>
</head>
<body>
    <p style="text-align: center;">topster</p>
    <hr>
    <img src="../images/탑스터1.png" alt="">
    <div >
        1. Arctic Monkeys - Favourite Worst Nightmare<br>
        2. SZA - CTRL<br>
        3. 브로콜리 너마저 - 잔인한 사월<br>
        4. The Black Skirts - TEEN TROUBLES<br>
        5. 델리 스파이스 - Deli Spice<br>
        6. 불나방 스타 쏘세지 클럽 - 고질적 신파<br>
        7. Prep - PREP<br>
        8. Loyle Carner - Yesterday's Gone<br>
        9. 재주소년 - 재주소년<br>
        10. Dominic Fike - Don't Forget About Me, Demos<br>
        11. 이상은 - 외롭고 웃긴 가게<br>
        12. Peppertones - Colorful Express<br>
        13. KIRINJI - Melancholy Mellow | -甘い豪鬱-199820<br>
        14. Slowdive - Souvlaki<br>
        15. Swedish House Mafia - Until Now<br>
        16. Sonic Youth - Dirty<br>
        17. Air - Moon Safari<br>
        18. 뉴진스 - NewJeans 1st EP 'New Jeans'<br>
        19. Oasis - (What's the Story) Morning Glory?<br>
        20. Cibo Matto - Stereotype A<br>
        21. Sigur Rós - Takk ...<br>
        22. Tom Misch - Beat Tape 1<br>
        23. 언니네 이발관 - 가장 보통의 존재<br>
        24. Jamiroquai - Emergency On Planet Earth<br>
        25. The Strokes - Is This It<br>
    </div>
    <!-- <img src="../images/탑스터2.png" alt="">
    
    <div >
        1. The Verve - Urban Hymns (Remastered 2016)<br>
        2. Oasis - (What's the Story) Morning Glory? [Remastered]<br>
        3. Oasis - Definitely Maybe<br>
        4. Nirvana - Nevermind (Remastered)<br>
        5. Weezer - Weezer<br>
        6. Tom Misch - Geography<br>
        7. Tom Misch - Beat Tape 1<br>
        8. Blur - blur [Special Edition]<br>
        9. Interpol - Turn on the Bright Lights<br>
        10. Coldplay - X & Y<br>
        11. My Bloody Valentine - Loveless Disc 1 Original Version Remastered<br>
        12. Arctic Monkeys - AM<br>
        13. Radiohead - OK Computer<br>
        14. Coldplay - Everyday Life<br>
        15. Justin Bieber - Changes<br>
        16. The Whitest Boy Alive - Rules<br>
        17. Daft Punk - Discovery<br>
        18. The Chainsmokers - Memories. . .Do Not Open<br>
        19. Digitalism - Idealism<br>
        20. Justice - Justice<br>
        21. MGMT - Oracular Spectacular<br>
        22. Washed Out - Within and Without<br>
        23. KIRINJI - 3<br>
        24. Kings of Convenience - Riot on an Empty Street<br>
        25. Honne - Warm On a Cold Night (Deluxe)<br>
    </div>
    <img src="../images/탑스터3.png" alt="">
    
    <div >
        1. The Internet - Ego Death<br>
        2. Nothing But Thieves - Moral Panic<br>
        3. The Verve - The Verve<br>
        4. Chance the Rapper - Coloring Book<br>
        5. Frank Ocean - channel ORANGE<br>
        6. Joey Bada$$ - 1999<br>
        7. 검정치마 - 201 (Special Edition)<br>
        8. Mac DeMarco - This Old Dog<br>
        9. Rejjie Snow - Dear Annie<br>
        10. Antonio Carlos Jobim - Stone Flower (CTI Records 40th Anniversary Edition)<br>
        11. The Neighbourhood - Hard to imagine the neighbourhood ever changing<br>
        12. Crystal Castles - Crystal Castles<br>
        13. SZA - CTRL<br>
        14. Snoh Aalegra - TEMPORARY HIGHS IN THE VIOLET SKIES<br>
        15. Raveena - If Only<br>
    </div>
     -->
</body>
</html>