<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
    <footer>
        <div class="logo2">
            <a href="#" onclick="history.back(); return false;">:)</a>
        </div>
        
        <div class="logo">
            <!-- <a href="../index.html">0_0</a> index.html로 이동하는 링크 -->
        </div>
    </footer>
    <p style="text-indent: 20px; ">
    개설 의도
    <hr>
    <주어진것들 그대로 받아들이지 않기>
    <hr>
    The medium is the message
    <br>
    The medium is the message
    <br>
    The medium is the message
    <br>
    The medium is the message
    <br>
    The medium is the message
    <br>
    <br>
    미디어를 조금이라도 공부한 학생이라면 들어봤을말이다. 미디어는 매세지다. 1964년에 나온 책의 이야기니 꽤나 오래됐다. 
    애초에 이는 사회와 개인의 권력관계에 대한 이야기 였을 것이다. TV나 라디오와 같은 기성 매체들이 개인들에에 미치는 파급력은
    엄청나며 이는 무비판적인 국가 권력의 수용으로 이어질수 있으니 항상 조심해야할것. 그런데 이 말은 현대에도 유용해보인다. 
    약간은 대상끼리의 관계가 다른 상태로 말이다. 우리는 우리를 의식한다. 인스타그램에 사진을 올릴때는 어떤 국가 권력도 개입을 안하고 있지만
    우리는 우리끼리 눈치를 본다. 인스타그램은 쿨한 공간이다. 쿨하지 못한 사진은 촌스러워지고 못꾸미는 사람은 인기가 없어진다. 
    <br>
    <br>
    미디어는 메시지다. 미디어는 우리의 행동 양식과 사고 방식을 결정한다. 위계적인 사회가 답답하듯이 인스타그램과 블로그도 답답하다.
    누군가에게는 창의성을 표현할 공간이 되겠지만 나에게는 제약의 공간같다. 글이 너무 그립고 상대방의 생각과 시선이 너무 보고 싶다.
    이해가 잘 가지 않는다. 왜 집착적으로 멋있어지려고 하는지. 가끔은 매체가 없는게 개인을 더 잘 표현하는 방법이 될 수도 있을것만 같다.
    개인의 생각과 행동에 매체를 안 묻어내고 미디어를 그 자체로 안 받아들여도 되니까.
    <br>
    <br>
        조금더 나를 표현할 공간이 필요했다. 건축가가 자기가 살 집을 설계하고 이런 저런 상상도 하고 고르듯이. 웹을 배운김에 
        나도 내 공간을 설계하고 싶었다. 아무리 오래 걸리고 비효율적이여도 상관이 없을것 같다. 
    <hr>
    
    
</body>
</html>