<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
    <footer>
        <div class="logo2">
            <a href="#" onclick="history.back(); return false;">:)</a>
        </div>
        
        <div class="logo">
            <!-- <a href="../index.html">0_0</a> index.html로 이동하는 링크 -->
        </div>
    </footer>
    <p style="text-indent: 20px; ">
    개설 의도
    <hr>
    <주어진것들 그대로 받아들이지 않기>
    <hr>
    The medium is the message
    <br>
    The medium is the message
    <br>
    The medium is the message
    <br>
    The medium is the message
    <br>
    The medium is the message
    <br>
    미디어를 조금이라도 공부한 학생이라면 들어봤을말이다. 미디어는 매세지다. 1964년에 나온 책의 이야기니 꽤나 오래됐다. 
    애초에 이는 사회와 개인의 권력관계에 대한 이야기 였을 것이다. TV나 라디오와 같은 기성 매체들이 개인들에에 미치는 파급력은
    엄청나며 이는 무비판적인 국가 권력의 수용으로 이어질수 있으니 항상 조심해야할것. 그런데 이 말은 현대에도 유용해보인다. 
    약간은 대상끼리의 관계가 다른 상태로 말이다. 우리는 우리를 의식힌다. 인스타그램에 사진을 올릴때는 어떤 국가 권력도 개입을 안하고 있다.
    하지만 우리는 눈치를 본다. 바로 우리끼리. 인스타그램은 쿨한 공간이다. 쿨하지 못한 사진 인기가 없고 투박한 사람이 된다. 
    블로그는 흔히 글이 주된 공간이고 영상을 올리기 적합하지 않은 곳으로 여겨진다.
    <br>
    미디어는 메시지다.
    <br>미디어는 우리의 행동 양식과 사고 방식을 결정한다. 쿨하지 않은 사람도 쿨한것처럼 행동하려고 

    <hr>
    
    
</body>
</html>