<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
    <footer>
        <div class="logo2">
            <a href="#" onclick="history.back(); return false;">:)</a>
        </div>
        
        <div class="logo">
            <!-- <a href="../index.html">0_0</a> index.html로 이동하는 링크 -->
        </div>
    </footer>
    <p style="text-align: left;">고양이</p>
    <hr>
        <img src="../images/고양이/고양이1.jpg" alt="">
        <hr>
        <p style="text-align: center; font-size: small;">건공이, 서울시립대학교, 08학번 </p> 
        <hr>
        <img src="../images/고양이/까칠이.png" alt="">
        <hr>
        <p style="text-align: center; font-size: small;">까칠이, 극장앞, 23학번</p> 
        <hr>
        <img src="../images/고양이/깜돌이.jpg" alt="">
        <hr>
        <p style="text-align: center; font-size: small;">깜돌이, 카페앞, 14학번 </p> 
        <br>
    <br>    
</body>
</html>
