<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
    <header>
        <div class="logo2">
            김뜻돌
        </div>
        
        <div class="logo">
            <a href="../index.html">0_0</a> <!-- index.html로 이동하는 링크 -->
        </div>
    </header>
    <div class="justify-text">김 뜻 돌</div>

<div class="justify-text">뜻 뜻 돌</div>

<div class="justify-text">돌 뜻 돌</div>
<hr>
<!-- <div style="text-align: center;">    
    <a href="https://blog.naver.com/meaningful_stone_">김뜻돌</a>
</div> -->
    
</body>
</html>