<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html">가</a> <!-- index.html로 이동하는 링크 -->
        </div>
    </header>
    <p style="text-align: center;">
        나.
    </p>
    <hr>

    <PRe>
Edu 
- 홍익대학교 경제학부 학사 

Awa
- 에세이 쓰기 대회 최우수상
- 논리적 글쓰기 대회 우수상

Qua
- ADsP 
<del>- TOEIC 950</del>

Car
- ???
- ???

Ski
- Python, Django, Elasticsearch 

Etc
- ENTJ
- <a href="./topster.html">topster</a>

</pre>
</body>
</html>