<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <a href="../index.html" class="article_title">가</a>
</head>
<body>
    <p style="text-align: center;">
        나.
    </p>
    <hr>

<PRe>
Edu 
- 홍익대학교 경제학부 학사 

Awa
- 교내 에세이 쓰기 대회 최우수상
- 교내 논리적 글쓰기 대회 우수상

Ski
- Python, Django, Elasticsearch

Etc
- ENTJ
- <a href="./topster.html">topster</a>

    
</body>
</html>