<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
    <footer>
        <div class="logo2">
            <a href="#" onclick="history.back(); return false;">:)</a>
        </div>
        
        <div class="logo">
            <!-- <a href="../index.html">0_0</a> index.html로 이동하는 링크 -->
        </div>
    </footer>
    <p style="text-align: left;">믿음</p>
    <hr>
        요즘에는 믿음에 대한 생각을 많이한다. 사람들은 자기 자신을 믿으라고 이야기한다.  겉으로는 멋있어 보이는 말이지만 실제로는 정말 까다로운 작업처럼 보인다. 도대체 나의 무슨 모습을 보고 믿으라는것인가?  이 문제는 믿음을 찾는 상황과 직결된다. 더 좋은 성과를 내고 싶어서 너무나도 자연스럽게 거짓말 하는 자신의 모습 ? 지기 싫어서 억지를 부리고 이런 저런 악을 쓰는 모습? 내 편을 들어주면 좋은 사람이고 아니면 나쁜 사람이라고 여기는 정치적인 모습?  평소에는 찾지 않던 자기 확신을 왜 이럴때 찾게 되는걸까. 믿음의 목적은 결단을 내리는 것이다. 자신을 믿는 결단을 내리는것은 일반적으로  좋은 일이다. 하지만  자신의 이기심에 대한 눈가림을 위해 자신을 믿는것에 대한 거부감이 항상 들었다.
    이제는 나도 나이를 조금 먹은것 같다. 시간이 흘러야지만 알수 있는 관계의 변화에 대해 체감하고 있기 때문이다. 핵심은 "재평가"이다. 같은 사람이 했던 말과 행동에 대해 다른 접근을 해볼 여유가 생기는것 같다. 그때는 받아들이지 못했던 생각과 말들이었지만, 지금은 다르게 보이고 느껴지는것들. 그러다보니 멀어졌던 사람과 다시 가까워지고, 가까웠던 사람하고도 멀어질 준비를 하고 있기도 하다.이런 변화를 실제로 체감하면서, 그리고 조금 떨어져 관찰자 입장에서 조망하면 여러 복잡한 생각이 들기도한다. 왜 그때는 틀리고 지금은 맞는 걸까. 믿음과 행동은 정적인 기록의 영역이다. 그 사람이 그때 그런 행동을 했고 믿음을 가졌다는 사실은 변하지 않는다. 다만 그것을 바보는 타인의 시선이 변했을 뿐이다. 왜 수용 되지 않았다는 이유로 그 믿음과 가치관이 비난 받아야 했을까. 자존심이 믿음과 가치관을 억지로 누르던 순간, 삶은 한번 더 이탈 당했다.
    
<hr>
</body>
</html>