<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/theme.css">
    <a href="../index.html" class="article_title">가</a>
</head>
<body>
    <p style="text-align: center;">부산</p>
    <hr>
    <details>
        <summary>활자의 도시</summary>
        <div>
            <img src="../images/부산/어서오십시오.jpg" alt="">
            <img src="../images/부산/고객님 .jpg" alt="">
            <img src="../images/부산/훔훔.jpg" alt="">
            <img src="../images/부산/남성 캐주얼화.jpg" alt="">
            <img src="../images/부산/우갈탕.jpg" alt="">
            <img src="../images/부산/돼지게티.jpg" alt="">
            <img src="../images/부산/폐업.jpg" alt="">
            <img src="../images/부산/버리지 말아주세요.jpg" alt="">

        </div>
    </details>
    <details>
        <summary>색상의 도시</summary>
        <div>
            <img src="../images/부산/노랑.jpg" alt="">        
            <img src="../images/부산/보라.jpg" alt="">        
            <img src="../images/부산/부국영.jpg" alt="">        
            <img src="../images/부산/멋쟁이.jpg" alt="">            
            <img src="../images/부산/핑크.jpg" alt="">        
      
        </div>
    </details>
    <a href="#" onclick="showPopup()" style="color: white;">#후기</a>
    
    <div class="popup" id="popup">
        <p>풍등: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit ullam officiis eum nesciunt officia architecto maiores totam sint quaerat doloribus, laborum quos perspiciatis exercitationem molestiae eveniet, dicta nobis iste accusamus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni impedit numquam nesciunt eos omnis repellat ea sunt fuga ipsum vitae voluptate architecto ut veniam aut distinctio dolor, sed odit consequatur.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic id necessitatibus amet odio sit delectus explicabo maiores esse animi quae accusantium ut nobis, accusamus error autem. Aspernatur omnis voluptate alias!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque mollitia, ipsam laborum accusantium eum earum odio ad, dignissimos at quidem reiciendis, illum qui quam repellendus? Eveniet quaerat quos incidunt impedit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi rerum nulla architecto et commodi asperiores sed, officia tenetur accusantium? Aut qui pariatur a quaerat inventore ut odio assumenda dignissimos fugit.
        </p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/94/SkyLanternRichy01.jpg" alt="">
        
    </div>
    
    <div class="popup-overlay" onclick="hidePopup()"></div>
    <script src="../js/popup.js"></script>
    
    <!-- 팝업 내용 -->
</body>
</html>
