<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/theme.css">
    <a href="../index.html" class="article_title">가</a>
</head>
<body>
    <p style="text-align: center;">부산</p>
    <hr>
    <details>
        <summary style="text-align: right;">활자</summary>
        <div>
            <img src="../images/부산/어서오십시오.jpg" alt="">
            <img src="../images/부산/고객님 .jpg" alt="">
            <img src="../images/부산/훔훔.jpg" alt="">
            <img src="../images/부산/남성 캐주얼화.jpg" alt="">
            <img src="../images/부산/우갈탕.jpg" alt="">
            <img src="../images/부산/돼지게티.jpg" alt="">
            <img src="../images/부산/폐업.jpg" alt="">
            <img src="../images/부산/슬리퍼.jpg" alt="">
            <img src="../images/부산/시.jpg" alt="">
            <img src="../images/부산/버리지 말아주세요.jpg" alt="">
            <div style="color: rgb(255, 255, 255); background-color: black;" >
            <활자>
            <br>
            투박하지만 솔직한 표현들이 많아서 좋았다. 글과 미디어를 포함한 매체는 표현에 근본적으로 표현과 커뮤니케이션을 위한것이다.
            만일 커뮤니케이션 이라는 행위 속에 본질적으로 표현되고자하는 속뜻과 이를 드러내는 매체라는 겉표현의 
            이중성을 받아들인다면, 내 눈에 지금 현대의 커뮤니케이션은 너무 고도화된 나머지 본뜻을 말하는 법을 잊어
            버린것 같아보이기도 한다. 아니 본인조차도 본 뜻이 있었는지 알아차리지도 못하는 경우가 많아 보인다. 스웩을 하면서
            왜 스웩을 하고 있는지, 시크함을 유지하면서 왜 차가워야 하는지 알지 모른다.
            <br>
            그러다 보니 투박하지만 솔직한 본인을 말할줄 아는 사람들이 그립다고 많이 느낀다. 지금껏 연락이 잘 되는
            몇 안되는 지인들의 공통점은 그들이 잘난 사람이 아니라 개인주의자라는 것이다. 사회적인 표현을 적극적으로 익히며 
            살아가는것이 아니라 본인이 잘하는 영역에서 본인의 개성이 유지될 수 있는 공간에서 개인적인 자존감이 유지될수 있는 
            방식을 찾아 그 안에서만큼은 권리와 책임을 지며 커뮤니케이션 하고 있다. 우리 각자는 상대방이 잠이 안 올때 언제나 팔베게하고 재미있는 얘기 해줄
            사람이 아니다. 낭만 없는 이야기이긴 하지만 관계와 역할에 대해 솔직한 인정을 하고 사랑 대신 건강을 기원할때 예상치 못한 감사함도 싹틀 수 있는 것 같다.
            불특정 다수에게 사랑을 표현하는 골목가게 사장님부터 이리저리 친절하게 길을 알려주는 행인들까지 솔직한 언어가 주는 친근함을 오랜만에 느껴서 좋았다.
            
        </div>
        </div>
    </details>
    <details>
        <summary style="text-align: right;">색상</summary>
        <div>
            <img src="../images/부산/노랑.jpg" alt="">        
            <img src="../images/부산/보라.jpg" alt="">        
            <img src="../images/부산/부국영.jpg" alt="">        
            <img src="../images/부산/멋쟁이.jpg" alt="">            
            <img src="../images/부산/핑크.jpg" alt="">      
            <div style="color: rgb(255, 255, 255); background-color: black;" >
                <색상>
                <br>
                유치하지만 알록달록한 색의 건물 많아서 기억에 남는다. 이런 말하기 좀 그럴수 있지만 서울에서는
                집 건물 색이 노랑이거나 분홍 등이면 어릴때 "<span style="color: rgb(68, 189, 173);">느그집 민트색</span>" 이렇게 놀릴꺼 같은데 여기서는 좀 흔한것 같다.
                경남 해안가다 보니 산업적으로 조선업이나 중화학업에서 파생된 페인트 수요가 생활용으로도 이어지지 않았을까 하는 추측을 해본다. 
                원색이 주는 느낌 올드함을 너머로 엠즤이 세대가 갈만한 트렌디한 가게들도 많았다. 이거는 좀 분명히 느낀 부분인데 디지털 인스타 도입되면서
                바로 미적으로 확 건너뛴 느낌? 그러니까 옛날 유행 - 조금 옛날 유행 - 요즘 유행 이렇게 단계적으로 바뀐게 아니라 옛날 유행 - 요즘 유행 바로 점프한것 같다. 
                위 활자랑 이런 색상 측면이 합쳐지면 부산 특유의 느낌이 나서 좋았다.
            </div>
            
        </div>
    </details>
    <details>
        <summary style="text-align: right;">기타</summary>
        <div>
            <img src="../images/부산/부락.jpg" alt="">        
            <img src="../images/부산/하천.jpg" alt="">
            <img src="../images/부산/씹덕.jpg" alt="">    
            <div style="color: rgb(255, 255, 255); background-color: black;" >
                <부산 락페>
                <br>
                날씨가 정말 너무 좋았다. 딱 가을과 여름사이 좋은 날씨. 카사비안 하나 보고 내려 갔는데 글렌체크 오랜만에 보니까 너무 신나긴 했다. 이상은 못본건 너무 아쉽.
            </div>      
            <img src="../images/부산/해방자유.jpg" alt="">        
            <img src="../images/부산/상가.jpg" alt="">
            <img src="../images/부산/굿즈.jpg" alt="">
            <div style="color: rgb(255, 255, 255); background-color: black;" >
                <네잎클로버>
                <br>        
                남는 시간에는 점 찍어둔데나 추천 받은곳들 둘러봤다. 해방자유 인스타 추천에 자주 떠서 가봤는데 빈티지라 그런지 사이즈가 다 안맞을꺼 같아서 스킵. 
                서면에서 애즈 들렀다. 저 네잎 클로버 언젠가는 필요할꺼 같아서 한 장에 2000원에 샀는데 그날 일이 생길뻔 했다. 저녁에 친구랑 숙소 가는데 지하철에서
                정말 너무 너무 서럽게 울는 스케이트보드걸이 있었다. 진짜 너무 서러워보여서 자리 앉으실때 생각난 네잎 클로버 한장 정중히 건넸는데 한사코 거절 하셨다. 이해합니다.
                하지만 지나고나면 이 모든게 다 별일 아닌것들이 될꺼에여 스케이트보드걸, 그리고 독자분들. 걱정마세요 
            </div>
            
        </div>
    </details>

</body>
</html>
