<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <footer>
        <div class="logo2">
            <!-- <a href="#" onclick="history.back(); return false;">:)</a> -->

        </div>

        <div class="logo">
            <p style="text-align: left;">
            </p>
        </div>
    </footer>
    <p style="text-align: left;">오늘은 마지막 날인가요, 아니면 그냥 화요일인가요?</p>
    <hr>
    <img src="/images/image.png" alt="설명을 추가하세요" ></a>
    
    
    <hr>
    올해
    <ul>
        <li>좋았던 것  : 세상과 멀어지고 나랑 가까워진 일</li>
        <li>슬펐던 것 : 나랑 가까워지느라 사람들과 멀어진 일 </li>
    </ul>
    <ul>
        <li>신기한 것 : 그럼에도 불구하고 가까워졌던 세상과 사람들</li>
    </ul>
    <hr>
    <br>
    내일은 수요일입니다. 일상을 준비합시다 :)
    <br>
    <br>
    <br>

               
</body>
</html>

