<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    
    </head>
    <body>
        <header>
            <div class="logo2">
                :()
            </div>
            
            <div class="logo">
                <a href="../index.html">0_0</a> <!-- index.html로 이동하는 링크 -->
            </div>
        </header>
교육 
<br>
- 홍익대학교 경제학부 학사 
<br>
<br>
<br>
대회
<br>
- 교내 에세이 쓰기 대회 최우수상
<br>
- 교내 논리적 글쓰기 대회 우수상
<br>
<br>
<br>
자격
<br>
- 데이터분석준전문가
<br>
- 컴퓨터활용능력2급
<br>
<br>
<br>
어학
<br>
<del>- TOEIC 950*(만료)</del>
<br>
<br>
<br>
스킬
<br>
- Python, Django, Elasticsearch
<br>
<br>
<br>
기타
<br>
- ENTJ
<br>
</pre>
</body>
</html>