<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    
    </head>
    <body>
        <footer>
            <div class="logo2">
                <a href="#" onclick="history.back(); return false;">:)</a>
            </div>
            
            <div class="logo">
                <a href="../landing.html">.EMDAER</a>
            </div>
        </footer>
교육 
<br>
- 홍익대학교 경제학부 학사 
<br>
<br>
<br>
수상
<br>
- 교내 에세이 쓰기 대회 최우수상
<br>
- 교내 논리적 글쓰기 대회 우수상
<br>
<br>
<br>

<br>
<details>
    <summary>
         기타
         <hr>
    </summary>
자격
<br>
- 데이터분석준전문가
<br>
- 컴퓨터활용능력2급
<br>
<br>
<br>
어학
<br>
<del>- TOEIC 950(만료)</del>
<br>
<br>
<br>
스킬
<br>
- Python, Django, Elasticsearch
<br>
<br>
<br>
<details>
    <summary>
        더 기타
        <hr>
    </summary>
    - ENTJ
    <br>- <a href="../templates/topster.html">탑스터</a>
    <br>
    <br>
</details>
</details>

</pre>
</body>
</html>