<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <footer>
        <div class="logo2">
            <a href="#" onclick="history.back(); return false;">:)</a>

        </div>

        <div class="logo">
            <p style="text-align: left;">
            </p>
        </div>
    </footer>
    <p style="text-align: left;">일상의 공유</p>
    <hr>
    언젠가 부터 보여줄 일상도 정해진것 같다. 보여주고 싶은 일상
</body>
</html>

