<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <footer>
        <div class="logo2">
            <a href="#" onclick="history.back(); return false;">:)</a>

        </div>

        <div class="logo">
            <p style="text-align: left;">
            </p>
        </div>
    </footer>
    <p style="text-align: left;">조용한 음악</p>
    <hr>
    요즘에는 조용한 음악을 듣고 싶다.

    시끄러운 음악은 감당이 되지 않는것 같다.
    
    왜냐하면 시끄러운 음악에 있는 스웩이 부담스럽기 때문이다.
    
    음악에는 전하거나 공유하고자하는 가치가 있다.
    
    창작자들은 이 음악을 통해 리스너가 이런 영감을 받고 자신감을 가졌으면 좋겠어료 라고 한다.
    
    디스크 자키들은 그 음악을 셀렉하고 편집해서 상황에 따라 음악의 가치를 재가공한다.
    
    그 지점이 내가 부답스러운 부분이기도 한다.
    
    대부분의 상황에서는 그것이 좋기도 하지만 가끔은 부담스럽기도 하다.
    
    그 감정선을 보고 싶지도 않고 감당할 수 도 없는 것 같다.
    <br>
    <br>
    
    여러모로 시간이 많이 흐른 상태여서 그런것 같다.
    
    연말이니 올해 의도적으로 했던 다짐들이 사라지고
    
    의도적으로 하지 않았던 기대도 사라지는것 같다.
    
    코로나도 이제는 옛말이 됐다. 2년전 이제는 달라질꺼야
    
    살면서 코로나라에 묻어갈 수 있는 실패들이 있었다.
    
    이제는 2~3년이라는 짧은 주기를 지나갔다.
    
    감당할 수 없는 가치관들이었고 가질수 없는 꿈들이었다.
    
    시끄러운 음악들을 들으면서 그런 추억을들 다시 되살리기도 싫고 반복하고 싶지도 않다.
    
    <br>
    <br>

    조용한 사람과 지내고 싶다.
    
    서로 설득하지도 설득 당하지도 않는 사람들.
    
    자신을 증명하려고하고 않는 사람들.

    작은면 작은대로 살아가는 사람들
    
    .존재감에 대한 강박이 없는 사람들. 
    <br>
    <br>

    언제쯤 알게 될까. 강한 사람한테는 역설이 있을수 밖에 없다는걸.
    
    관계는 경합적이여서 한 사람이 강해지면 다른 사람든 약해질 수 밖에 없는데 사실 그 사람은 약힌척 하고 있었다는걸. 
    
    왜냐하면 피곤해지니까. 관계를 시끄럽게 만들고 싶지 않고 두드러져보이기고 싶지도 않으니까.
    
    그런데 시간이 지나면 그 약해보였던 사람밖에 안 남아보인다. 그게 존재감에 대한 강박이 없는 사람들이 가지는 장점이자 단점이다. 
    <br>
    <br>
    요즘에는 모든 것들과 거리를 두고 싶다. 내가 지금 내 방에 보이는 모든 사물들을 깊게 의미부여하지 않고 주시하지 않듯이. 
    그저 누울 수 있는 사물, 글을 쓰게 해주는 종이와 펜, 이것들에 물성은 있지만 감성의 부여는 없듯이 사람들도 바라보고 싶다.
    이 사람은 코딩을 하는 사람. 저 사람은 음악을 트는 사람. 그리고 회사에서 만난 사람. 파티에서 만난 사람.

    가끔은 술기운에 친금감을 친근감을 느낄지 모른다. 와 우리는 잘 맞는 사람이라고.
     
    
    
    
    

    

    <hr>

</body>
</html>

