<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <footer>
        <div class="logo2">
            <a href="#" onclick="history.back(); return false;">:)</a>

        </div>

        <div class="logo">
            <p style="text-align: left;">
            </p>
        </div>
    </footer>
    <p style="text-align: left;">총총총</p>
    <hr>
    요즘에는 조용한 음악을 듣고 싶다.

    시끄러운 음악은 감당이 되지 않는것 같다.
    
    왜냐하면 시끄러운 음악에 있는 스웩이 부담스럽기 때문이다.
    
    음악에는 전하거나 공유하고자하는 가치가 있다.
    
    창작자들은 이 음악을 통해 리스너가 이런 영감을 받고 자신감을 가졌으면 좋겠어료 라고 한다.
    
    디스크 자키들은 그 음악을 셀렉하고 편집해서 상황에 따라 음악의 가치를 재가공한다.
    
    그 지점이 내가 부답스러운 부분이기도 한다.
    
    대부분의 상황에서는 그것이 좋기도 하지만 가끔은 부담스럽기도 하다.
    
    그 감정선을 보고 싶지도 않고 감당할 수 도 없는 것 같다.
    
    
    여러모로 시간이 많이 흐른 상태여서 그런것 같다.
    
    연말이니 올해 의도적으로 했던 다짐들이 사라지고
    
    의도적으로 하지 않았던 기대도 사라지는것 같다.
    
    코로나도 이제는 옛말이 됐다. 2년전 이제는 달라질꺼야
    
    살면서 코로나라에 묻어갈 수 있는 실패들이 있었다.
    
    이제는 2~3년이라는 짧은 주기를 지나갔다.
    
    감당할 수 없는 가치관들이었고 가질수 없는 꿈들이었다.
    
    시끄러운 음악들을 들으면서 그런 추억을들 다시 되살리기도 싫고 반복하고 싶지도 않다.
    
    
    요즘에는 조용한 사람과 지내고 싶다.
    
    서로 설득하지도 설득 당하지도 않는 사람들과
    
    자신을 증명하려고하고 않는 사람들과
    
    
    
    이제는 음악을 들었던 시간들이 음악을 듣지 않았던 시간들 보다 더 큰 것 같다.
    
    어릴떄 불나방스타 쏘세지클럽 유튜브 영상을 처음으로 보고 그후로 음악을 들었다.
    
    
    
    

    <hr>

</body>
</html>

