<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <footer>
        <div class="logo2">
            <a href="#" onclick="history.back(); return false;">:)</a>

        </div>

        <div class="logo">
            <p style="text-align: left;">
            </p>
        </div>
    </footer>
    <p style="text-align: left;">총총총</p>
    <hr>
    도르르 도르르. 요즘은 여러 일 때문에 스트레스가 많다. 사람의 생각도 시골에서 돌다리 건너듯이 총총총 읽어내고 딱딱 이해할 수 있으면 얼마 좋을까.
     타인과 관계를 맺는것, 좋은 말로는 교류, 중립적인 말로는 경쟁, 나쁜말로는 버티기를 하며 지내는게 가끔은 너무 너무 버겁다. 
    <br>
    <br>
    상대방이 뭔가 잘못을 했다는것도 아니다. 너 이거 고쳐, 너 이거 문제야라고 말고 싶지도 않다. 각자는 다들 각자의 세계 속에서 각자의 판단을 하면서 살아가니까. 그리고 다들 각자의 사정이 있으니까.
    겉으로는 어엿해 보이는 사람일지라도 실제로는 안 그럴 수 있고. 건강해 보이는 사람일지라도 속으로는 완전히 곪아떨어졌을 수도 있다. 
    <br>
    <br>내가 다른 사람들한테는 건장한 청년이고 밝은 사람처럼 보이듯이. 대다수는 이런 글과 나의 생각의 존재 자체를 모를것이다. 내 눈에는 나와 세상의 모든 존재들이 지뢰밭 같은 불행속에 
    위태위태하게 던져져 있는것으로 보이는데 말이다.
    <br>
    <br> 사람의 마음을 서로가 읽어내고 이해할 수 있으면 얼마나 좋을까. 
    <br>
    <br>
    의심하고 싶지 않다. 
    그 생각과 마음을 의심하고 싶지 않고 의심 받고 싶지도 않다. 누군가를 믿지 않는다는것만큼 도도하면서도 찌질한 행위도 없을테니까. 마음과 관심을 주지 않는다는 면에서는
    시크하고 단단해 보일지 모르지만 사람으로 태어나서 사람을 믿지 않는다는게.  
    <br>
    <br>세상에 처음부터 정이 없고 이해심이 자체가 없던 사람이 있었을까. 다들 상처 받았겠지.
    그 상처 떄문에 나도 다른 상처를 받는것에 무뎌지고, 관계 없는 사람에게 또 다른 상처를 주는게 무뎌진것이겠지.
    사랑 받는 사람은 온 세상이 사랑으로 보이지만, 거꾸로 상처 받은 사람은 온 세상이 상처로 보였겠지. 
    <br>
    <br>날쎈 고양이 노련하게 풀 위의 함정을 피하며
    걸어가듯이, 나도 다른 사람의 예민한 생각과 감정 위를 필요한 곳만 자연스럽게 짚으며 지나가고 싶어요. 총총총
    


    <hr>

</body>
</html>

