<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <header>
        <div class="logo2">
            <p style="text-align: center;">
                <a href="#" onclick="showPopup()">풍등</a>
            </p>
        </div>

        <div class="logo">
            <a href="../index.html">0_0</a> <!-- index.html로 이동하는 링크 -->
        </div>
    </header>

    <iframe src="https://www.youtube.com/embed/miq7YtCBqow?si=B626yXqqkavrw7fN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen width="100%" height="autoplay"></iframe>
    <hr>
    &nbsp;소망 같은 것들 바람 같은 것들
    <br>&nbsp;어딘가로 사라지겠지만 그리 멀리 떨어지네 
    <br>
    <br>
    &nbsp;앞으로 우리에게 몇 번의 여름이 더 :)
    <hr>
    
    <!-- 팝업 오버레이 -->
    <div class="popup-overlay" onclick="hidePopup()"></div>

    <!-- 팝업 내용 -->
    <div class="popup" id="popup">
        <p>풍등: 바람에 의해 공중으로 떠오르는 소형 열기구. 축제나 기원 의식에서 자주 사용됩니다.</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/94/SkyLanternRichy01.jpg" alt="">
    </div>

    <script src="../js/popup.js"></script>

    

</body>
</html>
