<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
    <footer>
        <div class="logo2">
            <a href="#" onclick="history.back(); return false;">:)</a>
        </div>
        
        <div class="logo">
            <!-- <a href="../index.html">0_0</a> index.html로 이동하는 링크 -->
        </div>
    </footer>
    <p style="text-indent: 20px; ">
        효율적인 거짓말
    <hr>
    그건 나쁜 거짓말이였다. 다만 작아보여서 다들 신경은 안 썻을뿐. 심지어 보인조차도 말이다. 
    진실을 말하고 있지 않다는것을 알고 있지만. 그럼에도 나는 불구하고 착한 사람이니까. 공리주의적으로 나는 착하니까.
    나쁨의 비해 착함의 크기가 압도적으로 크니까. 나는 이 정도 거짓말은 해도 괜찮을꺼야 살았던거 같다. <br>
    그런데 삶의 너무 잔인한점은 누군가가 언젠가는 심판을 해준다는 점이다. 내가 심판 받고 싶은 사람에게, 심판 받고 싶은 순간에
    결단이 내려지는것이 아니다. 예상치 못한 공간에서 충격적인 결과를 맞닥드려야 한다.
    <br>
    나에게는 예상치 못한 것이지만 다른 이들에게는
    당연한 상황일 수 있다. 왜냐하면 다른 사람들은 그간 참아왔으니까. 말그대로 참아왔으니까. 이 상황은 우리의 결단이 아니라 심판자의 결단이니 어쩔 도리가 없다.
    그러니 책임은 이제 니가 지라고. 니가 받아들여야하느 몫이라고 은연중 우리는 생각하고 있다.
    <br>
    작은 거짓말.티가 안나보이는 작은 거짓말.
    <br>
    그리고 착한 거짓말. 남한테 착해보이는 거짓말. 그리고 나한테 착해 보였던 거짓말. 
    <br>
    흰 몸통에 군데 군데 갈색 반점이 새겨진 살찐 고양이 한 마리가 내 머릿속을 사뿐 사뿐 걸어간다.


        

    
    
</body>
</html>